@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

[v-cloak] {
    display: none
}

body {
    background-color: #0D0D0D;
    color: #F2F2F2;
    font-family: 'Caveat', cursive;
}

a {
    color: #021D40;
    font-size: 1.75rem;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #595959;
}

button {
    border-style: none;
    border-radius: 10px;
    font-family: 'Caveat', cursive;
    background-color: #D2D5D9;
    outline-color: #595959 !important;
    margin: 1%;
}

#titleLogo {
    font-size: 3.5rem;
    color: #F2F2F2;
}

.subjectTitle {
    font-size: 2.5rem;
}

.subjectDescription {
    margin-top: 5%;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 1.75rem;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
    width: 50%;
    line-height: 26px;
    margin-bottom: 10px;
    margin-left: 27%;
}

input {
    height: 20px;
    flex: 0 0 100%;
    margin-left: 2%;
    background-color: #BFB6AE;
    border-color: #D2D5D9;
    outline:none !important;
    font-family: 'Caveat', cursive !important;
}

textarea {
    height: 200px;
    flex: 0 0 100%;
    margin-left: 2%;
    background-color: #BFB6AE;
    border-color: #D2D5D9;
    outline:none !important;
    border-style: inset;
    border-width: 2px;
    font-family: 'Caveat', cursive !important;
}

header {
    text-align: center;
}

nav {
    margin-bottom: 3rem;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav a {
    margin-right: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: aliceblue;
    font-size: 1.25rem;
}

.center-align {
    text-align: center;
}

.container {
    color: #0D0D0D;
    background-color: #BFB6AE;
    border-color: #D2D5D9;
    border-width: 5px;
    border-radius: 20px;
    border-style: solid;
    margin: 5% 20% 0% 20%;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5), 0 6px 20px 0 #F2F2F2;
}

.subjects {
    text-align: center;
    margin: 25px 50px 50px 50px;
}

.notes {
    margin: 5% 15% 5% 15%;
}

.timeInfo {
    margin-top:50px;
    font-style: italic;
    font-size: 12px;
}

#newNoteToggle {
    color: #021D40 !important;
    user-select: none;
    -moz-user-select: none;
}

:hover #newNoteToggle {
    cursor: pointer;
    color: #595959;
}

.noteButtons {
    margin-top: 5%;
}

#editSaveBtn {
    margin-bottom: 10px;
    margin-left: 27%;
}

.error {
    list-style-type:none;
    color:red;
    text-align: center;
}